WebContent/wsdl/ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WsService" targetNamespace="http://ws.ws.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://ws.ws.com/" schemaLocation="ws_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="countResponse">
    <wsdl:part name="parameters" element="tns:countResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="count">
    <wsdl:part name="parameters" element="tns:count">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="productName">
    <wsdl:part name="parameters" element="tns:productName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="productCount">
    <wsdl:part name="parameters" element="tns:productCount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="productNameResponse">
    <wsdl:part name="parameters" element="tns:productNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="productCountResponse">
    <wsdl:part name="parameters" element="tns:productCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Ws">
    <wsdl:operation name="count">
      <wsdl:input name="count" message="tns:count">
    </wsdl:input>
      <wsdl:output name="countResponse" message="tns:countResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productName">
      <wsdl:input name="productName" message="tns:productName">
    </wsdl:input>
      <wsdl:output name="productNameResponse" message="tns:productNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productCount">
      <wsdl:input name="productCount" message="tns:productCount">
    </wsdl:input>
      <wsdl:output name="productCountResponse" message="tns:productCountResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsServiceSoapBinding" type="tns:Ws">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="count">
      <soap:operation soapAction="urn:Count" style="document"/>
      <wsdl:input name="count">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productName">
      <soap:operation soapAction="urn:ProductName" style="document"/>
      <wsdl:input name="productName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="productNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productCount">
      <soap:operation soapAction="urn:ProductCount" style="document"/>
      <wsdl:input name="productCount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="productCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsService">
    <wsdl:port name="WsPort" binding="tns:WsServiceSoapBinding">
      <soap:address location="http://localhost:8080/web-proje2017_proje/services/WsPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
